ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.profile {
    padding: 20px;
    border-left: 1px solid #dbdbdb;
}

.profile-header {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 1.5rem;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

/* .profile-info { 
    flex: 1; 
} */

.top-row {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.btn-microphone {
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    background: #fff;
}

.btn-microphone img {
    width: 40px;
    height: 40px;
}

.followers {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.bio li:nth-child(1) {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.tabs {
    display: flex;
    justify-content: center;
    border-top: 1px solid #dbdbdb;
    margin-bottom: 1rem;
}

.tab {
    padding: 1rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: #8e8e8e;
}

.tab.active {
    color: #111;
    border-top: 2px solid #111;
}


/* Images container */
ul.layout-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1em;
}

ul.layout-posts li img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul.layout-posts li button {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

/* Pop ups */
/* dialog[open] {
  background-color: white;
  color: black;
  border: none;
  border-radius: 1rem;
  width: 900px;     
  height: 600px; 

}

::backdrop {
    background: rgba(0, 0, 0, 0.6); 
}

dialog button.closebutton  {
  color: var(--text);
  font-size: 1rem;
  position: absolute;
  top: 15px;
  right: 15px; 
  width: 32px;
  height: 32px;   
}

@media (width > 37.5em) {
  dialog[open] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}
} */